<header class="navbar pcoded-header navbar-expand-lg navbar-light d-lg-none">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="/" class="b-brand">
            <div class="nav-item pcoded-menu-caption">
                <!-- Your logo img here -->
            </div>
        </a>
    </div>
</header>
    
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">

            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' == segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>

                    <li data-username="Dashboard charts loaded from a file" 
                        class="nav-item {% if 'charts_from_file' == segment %} active {% endif %}">
                        <a href="/charts-file" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                                <span class="pcoded-mtext">Charts from File</span></a>
                    </li>                    
                    <li data-username="Dashboard charts loaded from a simple DB table" 
                        class="nav-item {% if 'charts_from_input' == segment %} active {% endif %}">
                        <a href="/charts-input" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                                <span class="pcoded-mtext">Charts from Input</span></a>
                    </li>                    
                    <li data-username="Dashboard charts loaded from load data" 
                        class="nav-item {% if 'charts_from_load' == segment %} active {% endif %}">
                        <a href="/charts-load" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                                <span class="pcoded-mtext">Charts from Data</span></a>
                    </li>                    
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>

                    
              
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="/ui-tables.html" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Chart & Maps</label>
                    </li>
                    <li data-username="Charts Morris" class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                                <span class="pcoded-mtext">Charts - JS Hardcoded</span></a></li>
                    <li data-username="Maps Google" class="nav-item {% if 'maps-google' in segment %} active {% endif %}">
                        <a href="/maps-google.html" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a></li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Authentication</label>
                    </li>

                    {% if user.is_superuser %}
                    <li data-username="Admin" class="nav-item">
                        <a target="_blank" href="/admin/" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-sidebar"></i></span>
                                    <span class="pcoded-mtext">Admin Dashboard</span></a>
                    </li>
                    {% endif %}

                    <li data-username="Disabled Menu" class="nav-item">
                        {% if user.is_authenticated %}
                            <a href={% url 'logout' %} class="nav-link">
                                <span class="pcoded-micon">
                                    <i class="feather icon-power"></i>
                                </span>
                                <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                            </a>
                        {% else %}
                            <a href={% url 'login' %} class="nav-link">
                                <span class="pcoded-micon">
                                    <i class="feather icon-user"></i>
                                </span>
                                <span class="pcoded-mtext">Login</span>
                            </a>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </nav>
