{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                     <!--[ daily sales section ] start-->
                     <div class="row">
                     <div class="col-md-6 col-xl-9">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h4 class="mb-4 text-c-blue f-30" >Muraqeb</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                            <div class="col-auto">
                                                <i class="fab fa-telegram   text-c-blue f-36"></i>
                                                <a class="text-c-green mb-0" href="http://t.me/muraqeb_bot" target="_blank"> Click Here </a>
                                        </div>
                                                to start reporting prices today on Telegram 
                                                <i class="feather icon-arrow-up text-c-red f-40 m-r-10"></i>
                                                <i class="feather icon-arrow-down text-c-green f-40 m-r-10"></i>
                                                   
                                        </h3>
                                    </div>

                                    <div class="col-3 text-right">
                                        <p class="m-b-0"><!--67% --> </p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-r-theme" role="progressbar"
                                         style="width: 50%;" aria-valuenow="80" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--[ Monthly  sales section ] starts-->
                        <!--[ Monthly  sales section ] end-->
                        <!--[ year  sales section ] end-->

                        <!-- [ Morris Chart ] start -->
                        
                        <!-- [ Morris Chart ] end -->
                    <div class="row">
                       
                        

                        <!--[ Average country ] start-->
                        <div class="col-xl-5 col-md-20">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Country Average </h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr class="col-xl-5 col-md-20">
                                            
                                                <th class="unread" align="right">
                                                    <p class="m-1">Product </p> 
                                                </th>
                                                <th class="unread" align="right">
                                                    <p class="m-1" >Reports </p> 
                                                <th>
                                                <th class="unread" align="right" >
                                                    <p class="m-1">Average price </p> 
                                                </th>
                                            
                                            </tr>
                                           
                                            {% for i in avgc  %}
                                            <tr class="col-xl-5 col-md-20">
                                                <td class="unread">
                                                    <p class="m-0">{{ i.Product }} </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0">{{ i.Total }} </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0"> </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0">{{ i.Average }} </p>  
                                                </td> 
                                            </tr>  
                                            {%  endfor  %}  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Average country ] end-->

                        <!-- [ statistics year chart ] start -->
                        <div class="col-xl-4 col-md-5">
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ all_reports.all }}</h3>
                                            <span class="d-block text-uppercase">TOTAL Reports</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ all_reports.month }}</h3>
                                            <span class="d-block text-uppercase">Monthly Reports</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-red"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ all_reports.day }}</h3>
                                            <span class="d-block text-uppercase">Daily Reports</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{all_reports.locations}}</h3>
                                            <span class="d-block text-uppercase">TOTAL LOCATIONS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <!--[social-media section] start-->
                        
                                <div class="card card-social">
                                    <div class="card-block border-bottom">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <i class="fab fa-facebook-f text-primary f-30"> </i>
                                            </div>
                                            <div class="col-auto"><i class="text-c-blue f-20">Join Us ! </i>  </div>
                                            <div class="col text-right">
                                                <h3>
                                                <a class="text-c-red mb-0" href="https://www.facebook.com/groups/265142954916993" target="_blank"> 41lebanon </a></h3>
                                            </div>
                                        </div>
                                    </div>
                               
                                </div>
                        
                                <div class="card card-social">
                                    <div class="card-block border-bottom">
                                        <div class="row align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <i class="fab fa-twitter text-c-blue text-primary f-30"></i> 
                                        </div>
                                        <div class="col-auto"><i class="text-c-blue f-20">Follow Us !</i></div>
                                        <div class="col text-right">
                                            <h3>       
                                            <a class="text-c-red mb-0" href="https://twitter.com/41lebanon1"  target="_blank">41lebanon</a></h3>
                                        </div>
                                    </div>
                                </div>
                          
                            
                            </div>
                        
                        <!--[social-media section] end-->
                        </div>
                        <!-- [ statistics year chart ] end -->
                        <!--[min prices ] start-->
                        <div class="col-xl-9 col-md-20">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Lowest prices </h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr class="col-xl-5 col-md-20">
                                            
                                                <th class="unread" align="right">
                                                    <p class="m-1">Product </p> 
                                                </th>
                                                <th class="unread" align="right">
                                                    <p class="m-1" >Pirce </p> 
                                                <th>
                                                <th class="unread" align="right" >
                                                    <p class="m-1">Location </p> 
                                                </th>
                                            
                                            </tr>
                                            
                                            {% for i in minp  %}
                                            <tr class="col-xl-5 col-md-20">
                                                <td class="unread">
                                                    <p class="m-0">{{ i.Product.Product }} </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0">{{ i.Price }} </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0"> </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0">{{ i.Location }} </p>  
                                                </td> 
                                            </tr>  
                                            {%  endfor  %}  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ min prices ] end-->
                        <!--[Max prices ] start-->
                        <div class="col-xl-9 col-md-20">
                            <h5>Highest prices </h5>
                            <div class="card Recent-Users">
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr class="col-xl-5 col-md-20">
                                            
                                                <th class="unread" align="right">
                                                    <p class="m-1">Product </p> 
                                                </th>
                                                <th class="unread" align="right">
                                                    <p class="m-1" >Pirce </p> 
                                                <th>
                                                <th class="unread" align="right" >
                                                    <p class="m-1">Location </p> 
                                                </th>
                                            
                                            </tr>
                                            
                                            {% for j in maxp  %}
                                            <tr class="col-xl-5 col-md-20">
                                                <td class="unread">
                                                    <p class="m-0">{{ j.Product.Product }} </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0">{{ j.Price }} </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0"> </p>  
                                                </td> 
                                                <td class="unread">
                                                    <p class="m-0">{{ j.Location }} </p>  
                                                </td> 
                                            </tr>  
                                            {%  endfor  %}  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Max prices ] end-->
                        <!-- Week month day start -->
                        <div class="col-xl-9 col-md-12 m-b-30">
                            <div class="card-header">
                                    <h5>Recent reports </h5>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="false">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="week-tab" data-toggle="tab" href="#week"
                                       role="tab" aria-controls="profile" aria-selected="true">This Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="month-tab" data-toggle="tab" href="#month" role="tab"
                                       aria-controls="contact" aria-selected="false">This Month</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Location</th>
                                            <th class="text-right"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for a in recent.day_rep  %}
                                        <tr>
                                            <td>
                                                <h6 class="m-0">{{ a.product}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0">{{a.price}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0">{{a.rawloc.display_name}}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade active show" id="week" role="tabpanel"
                                     aria-labelledby="week-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Location</th>
                                            <th class="text-right"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {%for c in recent.month_rep%}
                                        <tr>
                                            <td>
                                                <h6 class="m-0">{{c.product}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0">{{c.price}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0">{{c.rawloc.display_name}}</h6>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="month" role="tabpanel" aria-labelledby="month-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Location</th>
                                            <th class="text-right"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for b in recent.month_rep%}
                                        <tr>
                                            <td>
                                                <h6 class="m-0">{{b.product}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0">{{b.price}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0">{{b.rawloc.display_name}}</h6>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- week month day end-->
                    <div class="row">
                                       
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
    <script src="{% static 'app_assets/js/scripts.js' %}"></script>
    <script>
        SetChartBar({{ chart_data|safe }});
    </script>
{% endblock javascripts %}
